<div class="quad1"></div>
<div class="quad2"></div>
<div class="quad3"></div>
<div class="quad4"></div>
<style>
  
  body{
    background: #62374e;
  }
  
  div.quad1 {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    background: #fdc57b;
  }
  
   div.quad2 {
    position: fixed;
    top: 50px;
    left: 300px;
    width: 50px;
    height: 50px;
    background: #fdc57b;
  }
  
     div.quad3 {
    position: fixed;
    top: 200px;
    left: 300px;
    width: 50px;
    height: 50px;
    background: #fdc57b;
  }
  
       div.quad4 {
    position: fixed;
    top: 200px;
    left: 50px;
    width: 50px;
    height: 50px;
    background: #fdc57b;
  }
</style>
